Repository pryx-co/pryx: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxfmt, oxlint

.pre-commit-config.yaml:

# Pre-commit hooks for Pryx
# Framework: pre-commit v4.5.1
# Config: https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for merge conflict markers
      - id: check-merge-conflict
      # Check for large files (>500KB)
      - id: check-added-large-files
        args: ['--maxkb=500']
      # Check JSON syntax
      - id: check-json
      # Check TOML syntax
      - id: check-toml
      # Check YAML syntax
      - id: check-yaml
      # Detect trailing whitespace
      - id: trailing-whitespace
      # Detect mixed line endings (CRLF vs LF)
      - id: mixed-line-ending
      # Fix end of file (ensure newline at EOF)
      - id: end-of-file-fixer
      # Check for symlinks that don't point anywhere
      - id: check-symlinks

  # Rust-specific hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Rust format check
      - id: fmt
        args: ['--', '--check']
      # Rust clippy linting
      - id: cargo-check
        args: ['--lib']
      # Rust clippy with warnings as errors
      - id: clippy
        args: ['--lib', '--', '-D', 'warnings']

  # Go-specific hooks
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      # Go format check
      - id: golangci-lint
        args:
          - --disable-all
          - --enable=gofmt,unused,ineffassign,staticcheck,structcheck,errcheck

  # JavaScript/TypeScript hooks (Oxlint + Oxfmt)
  - repo: local
    hooks:
      - id: oxfmt
        name: Format with Oxfmt
        entry: bunx oxfmt
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, yaml]
        exclude: |
          (?x)^(
            apps/.*/node_modules/|
            apps/.*/dist/|
            apps/.*/\.next/|
            apps/.*/\.turbo/|
            apps/.*/\.astro/|
            node_modules/|
            dist/|
            .next/|
            .git/|
            package-lock\.json|
            Cargo\.lock|
            go\.sum|
            vendor/
          )
      - id: oxlint
        name: Lint with Oxlint
        entry: bunx oxlint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        exclude: |
          (?x)^(
            apps/.*/node_modules/|
            apps/.*/dist/|
            node_modules/|
            dist/|
            \.test\.(js|ts|tsx)$|
            \.spec\.(js|ts|tsx)$
          )

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from {config_path}

  autofix_prs: true
  autoupdate_branch: develop
  autoupdate_commit_msg: 'chore: update pre-commit hooks'
  autoupdate_schedule: monthly
  # Skip hooks that require specific tooling or directory contexts
  # These are handled by dedicated CI jobs (test-host, test-runtime, test-tui, lint)
  skip:
    - poetry-update
    - poetry-lock-update
    - fmt
    - cargo-check
    - clippy
    - golangci-lint
    - oxfmt
    - oxlint

fix(host): security fixes for static file handler and RPC error handling
  .sisyphus/ralph-loop.local.md
  apps/host/Cargo.lock
  apps/host/Cargo.toml
  apps/host/src/server/handlers.rs
  apps/host/src/server/routes.rs
  apps/host/src/sidecar/process.rs
  apps/runtime/internal/mcp/manager.go
  apps/runtime/internal/mcp/truncation.go
  apps/runtime/internal/mcp/truncation_test.go
  apps/runtime/internal/server/handlers_admin.go
  pr_comments.json
Due: oxfmt

feat(ipc): implement JSON-RPC 2.0 bridge between host and runtime
  apps/host/src/sidecar/process.rs
  apps/runtime/cmd/pryx-core/rpc_handlers.go
  apps/runtime/cmd/pryx-core/rpc_handlers_test.go
  apps/runtime/internal/hostrpc/hostrpc.go
Due: none

chore: add CONTRIBUTING.md, Docker compose config, and update skills API
  .sisyphus/ralph-loop.local.md
  CONTRIBUTING.md
  apps/tui/src/services/skills-api.ts
  docker-compose.yml
Due: oxfmt, oxlint

feat(server): add admin API routes for dashboard
  apps/runtime/internal/server/server.go
Due: none

refactor(host): simplify channel handlers and improve telemetry
  apps/host/src-tauri/src/main.rs
  apps/host/src-tauri/src/tray.rs
  apps/host/src/lib.rs
  apps/host/src/server/auth.rs
  apps/host/src/server/handlers.rs
  apps/host/src/server/mod.rs
  apps/host/src/server/routes.rs
  apps/host/src/server/websocket.rs
  apps/host/src/sidecar/process.rs
  apps/runtime/internal/server/handlers_channels_test.go
  apps/runtime/internal/telemetry/telemetry.go
  apps/runtime/pryx.db
  apps/runtime/tests/cli/cost/pryx.db
Due: none

feat: unify into single pryx worker
  apps/web/worker.ts
  apps/web/wrangler.toml
Due: oxfmt, oxlint

feat: Add comprehensive telemetry and UX/DX requirements analysis
  TELEMETRY_IMPLEMENTATION_STATUS.md
  UX_DX_REQUIREMENTS.md
Due: oxfmt

fix(host): add conditional compilation for Unix-specific PermissionsExt import
  apps/host/src/sidecar/process.rs
Due: none

feat(ui): implement Localhost Control Panel Admin Suite
  apps/local-web/bun.lock
  apps/local-web/index.html
  apps/local-web/package-lock.json
  apps/local-web/package.json
  apps/local-web/src/App.tsx
  apps/local-web/src/components/Dashboard.test.tsx
  apps/local-web/src/components/Dashboard.tsx
  apps/local-web/src/components/DeviceCard.tsx
  apps/local-web/src/components/DeviceList.tsx
  apps/local-web/src/components/Settings.tsx
  apps/local-web/src/components/channels/ChannelList.tsx
  apps/local-web/src/components/mcp/McpServerList.tsx
  apps/local-web/src/components/policy/PolicyList.tsx
  apps/local-web/src/components/skills/SkillCard.tsx
  apps/local-web/src/components/skills/SkillList.tsx
  apps/local-web/src/main.tsx
  apps/local-web/src/styles/index.css
  apps/local-web/tsconfig.json
  apps/local-web/tsconfig.node.json
  apps/local-web/vite.config.ts
Due: oxfmt, oxlint

feat(runtime): implement comprehensive telemetry system with audit, cost, and performance metrics
  apps/runtime/go.mod
  apps/runtime/go.sum
  apps/runtime/internal/telemetry/telemetry.go
Due: none

chore(host): update Tauri config and Cargo dependencies
  apps/host/Cargo.lock
  apps/host/tauri.conf.json
Due: oxfmt

feat(scheduler): activate runtime scheduler with interval and event triggers
  .beads/issues.jsonl
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/scheduler/scheduler.go
  apps/runtime/internal/scheduler/scheduler_test.go
  apps/runtime/internal/server/handlers_scheduler.go
  apps/runtime/internal/server/scheduler_executors.go
  apps/runtime/internal/server/server.go
Due: none

ci: fix wrangler entrypoint and migrate to WarpBuild runners
  .github/workflows/ci.yml
  .github/workflows/cli-login-test.yml
  .github/workflows/deploy-web.yml
  .github/workflows/test.yml
  .sisyphus/ralph-loop.local.md
  apps/web/wrangler.toml
  packages/mcp/src/discovery.ts
  packages/mcp/src/index.ts
  packages/mcp/src/registry.ts
  packages/mcp/src/storage.ts
  packages/mcp/src/types.ts
  packages/mcp/src/validation.ts
  packages/providers/src/index.ts
  packages/providers/src/presets.ts
  packages/providers/src/registry.ts
  packages/providers/src/storage.ts
  packages/providers/src/types.ts
  packages/providers/src/validation.ts
  packages/vault/src/crypto.ts
  packages/vault/src/types.ts
  packages/vault/src/vault.ts
Due: oxfmt, oxlint

ci: add WarpBuild caching for faster builds
  .github/workflows/ci.yml
  .github/workflows/deploy-web.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: oxfmt

fix: add concurrency to test.yml, clean web gitignore
  .github/workflows/test.yml
  apps/web/.gitignore
Due: oxfmt

chore: sync workflows from main (Blacksmith runners)
  .github/workflows/ci.yml
  .github/workflows/cli-login-test.yml
  .github/workflows/deploy-web.yml
  .github/workflows/test.yml
Due: oxfmt

chore: use 2 vCPU runners for lower cost
  .github/workflows/ci.yml
  .github/workflows/cli-login-test.yml
  .github/workflows/deploy-web.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: oxfmt

fix: add .assetsignore to prevent _worker.js upload warning
  apps/web/public/.assetsignore
Due: none

chore: revert to GitHub-hosted runners for cost savings
  .github/workflows/ci.yml
  .github/workflows/cli-login-test.yml
  .github/workflows/deploy-web.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: oxfmt

fix: add workingDirectory to wrangler-action
  .github/workflows/deploy-web.yml
Due: oxfmt

docs(channels): add JSDoc to validation module
  packages/channels/src/validation.ts
Due: oxfmt, oxlint

docs(channels): add JSDoc to types module
  packages/channels/src/types.ts
Due: oxfmt, oxlint

docs(channels): add comprehensive JSDoc to registry module
  packages/channels/src/registry.ts
Due: oxfmt, oxlint

docs(web): align schema bootstrap and deployment guidance
  apps/web/docs/deployment.md
  apps/web/schema.sql
  apps/web/wrangler.toml
Due: oxfmt

fix(admin): tighten layer auth defaults and audit logging
  apps/web/src/server/admin-api.test.ts
  apps/web/src/server/admin-api.ts
Due: oxfmt, oxlint

fix(web,mcp): reduce telemetry scan work and harden discovery path
  apps/web/src/pages/api/[...path].ts
  packages/mcp/src/discovery.ts
Due: oxfmt, oxlint

ci: harden rust target mapping in build matrix
  .github/workflows/ci.yml
Due: oxfmt

feat(web): point hero pryx cloud CTA to auth
  apps/web/src/pages/index.astro
Due: none
