Repository pryx-co/pryx: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxfmt, oxlint

.pre-commit-config.yaml:

# Pre-commit hooks for Pryx
# Framework: pre-commit v4.5.1
# Config: https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for merge conflict markers
      - id: check-merge-conflict
      # Check for large files (>500KB)
      - id: check-added-large-files
        args: ['--maxkb=500']
      # Check JSON syntax
      - id: check-json
      # Check TOML syntax
      - id: check-toml
      # Check YAML syntax
      - id: check-yaml
      # Detect trailing whitespace
      - id: trailing-whitespace
      # Detect mixed line endings (CRLF vs LF)
      - id: mixed-line-ending
      # Fix end of file (ensure newline at EOF)
      - id: end-of-file-fixer
      # Check for symlinks that don't point anywhere
      - id: check-symlinks

  # Rust-specific hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Rust format check
      - id: fmt
        args: ['--', '--check']
      # Rust clippy linting
      - id: cargo-check
        args: ['--lib']
      # Rust clippy with warnings as errors
      - id: clippy
        args: ['--lib', '--', '-D', 'warnings']

  # Go-specific hooks
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      # Go format check
      - id: golangci-lint
        args:
          - --disable-all
          - --enable=gofmt,unused,ineffassign,staticcheck,structcheck,errcheck

  # JavaScript/TypeScript hooks (Oxlint + Oxfmt)
  - repo: local
    hooks:
      - id: oxfmt
        name: Format with Oxfmt
        entry: bunx oxfmt
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, yaml]
        exclude: |
          (?x)^(
            apps/.*/node_modules/|
            apps/.*/dist/|
            apps/.*/\.next/|
            apps/.*/\.turbo/|
            apps/.*/\.astro/|
            node_modules/|
            dist/|
            .next/|
            .git/|
            package-lock\.json|
            Cargo\.lock|
            go\.sum|
            vendor/
          )
      - id: oxlint
        name: Lint with Oxlint
        entry: bunx oxlint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        exclude: |
          (?x)^(
            apps/.*/node_modules/|
            apps/.*/dist/|
            node_modules/|
            dist/|
            \.test\.(js|ts|tsx)$|
            \.spec\.(js|ts|tsx)$
          )

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from {config_path}

  autofix_prs: true
  autoupdate_branch: develop
  autoupdate_commit_msg: 'chore: update pre-commit hooks'
  autoupdate_schedule: monthly
  # Skip hooks that require specific tooling or directory contexts
  # These are handled by dedicated CI jobs (test-host, test-runtime, test-tui, lint)
  skip:
    - poetry-update
    - poetry-lock-update
    - fmt
    - cargo-check
    - clippy
    - golangci-lint
    - oxfmt
    - oxlint

Fix WS sessions list/resume
  apps/runtime/internal/server/handlers_append.go
  apps/runtime/internal/server/server.go
  apps/runtime/internal/server/ws.go
  apps/runtime/internal/store/session.go
  apps/runtime/internal/store/store.go
  apps/runtime/tests/integration/runtime_test.go
Due: none

docs: update production test report with bug fix verification results
  PRODUCTION_TEST_REPORT.md
Due: oxfmt

fix(ci): install system dependencies for lint and build jobs - fixes glib-2.0 missing error in Rust compilation
  .github/workflows/test.yml
Due: oxfmt

feat(security): add rate limiting middleware to API endpoints
  apps/runtime/internal/server/handlers.go
  apps/runtime/internal/server/ratelimit.go
  apps/runtime/internal/server/server.go
Due: none

fix(ci): increase test timeouts and improve documentation coverage
  .github/workflows/test.yml
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/agent/agent.go
  apps/runtime/internal/server/server.go
  apps/runtime/internal/store/store.go
Due: oxfmt

fix: resolve critical production bugs in provider and config commands
  PRODUCTION_TEST_REPORT.md
  apps/runtime/cmd/pryx-core/config_cmd.go
  apps/runtime/cmd/pryx-core/provider_cmd.go
  apps/runtime/internal/config/config.go
Due: oxfmt

fix(tui): resolve oxlint/eslint issues and remove generated artifact - Fix unused imports and variables in TS files - Remove manual-test.js artifact
  apps/tui/manual-test.js
  apps/tui/src/components/McpCurated.tsx
  apps/tui/src/services/health-check.ts
  apps/tui/src/test-ws.ts
Due: oxfmt, oxlint

feat(auth): implement OAuth PKCE for device flow (RFC 7636)
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/auth/auth.go
Due: none

feat(tui): enhance provider management with dynamic configuration
  apps/tui/src/components/ProviderManager.tsx
  apps/tui/src/services/provider-service.ts
Due: oxfmt, oxlint

chore(docs): reorganize docs and tests (pryx-94x)
  README.md
  apps/runtime/docs/testing/CLI_TESTING_STRATEGY.md
  apps/runtime/docs/testing/E2E_TESTING_STRATEGY.md
  apps/runtime/docs/testing/E2E_TEST_MATRIX.md
  apps/runtime/docs/testing/E2E_TEST_SUMMARY.md
  apps/runtime/docs/testing/TESTING_SUMMARY.md
  apps/runtime/docs/testing/TEST_COVERAGE_REPORT.md
  apps/runtime/docs/testing/TEST_IMPLEMENTATION_STATUS.md
  apps/runtime/docs/testing/TEST_PROGRESS.md
  apps/tui/docs/EFFECTTS_MIGRATION_AUDIT.md
  apps/tui/docs/KEYBINDINGS.md
  apps/tui/docs/THEME_UPDATE.md
  apps/tui/docs/TUI_FIX_PLAN.md
  apps/tui/scripts/manual-test.ts
  apps/tui/tests/helpers/smoke-render.tsx
  apps/tui/tests/unit/credential-storage.test.tsx.skip
  apps/tui/tests/unit/smoke.test.ts
  docs/development/OAUTH_IMPLEMENTATION.md
  docs/interfaces/CLI_FEATURES.md
  docs/release/RELEASE_CHECKLIST_v1.md
  docs/reports/BEADS_TASKS_ANALYSIS.md
  docs/reports/FINAL_TEST_REPORT.md
  docs/reports/TEST_IMPLEMENTATION_COMPLETE.md
  docs/reports/TEST_STATUS.md
  docs/reports/TUI_TEST_REPORT.md
  docs/runtime/DYNAMIC_PORTS.md
  docs/runtime/memory.md
  docs/testing/CREDENTIAL-TESTING.md
  docs/testing/TESTING.md
Due: oxfmt, oxlint

chore: Update dependencies and documentation
  .gitignore
  .sisyphus/ralph-loop.local.md
  PRODUCTION_TEST_REPORT.md
  apps/runtime/go.mod
  apps/runtime/go.sum
Due: oxfmt

test: add integration tests for pryx-cb9 (Authentication & Edge)
  PRODUCTION_TEST_REPORT.md
  apps/runtime/tests/integration/pryx_cb9_tests.go
Due: oxfmt

feat(web): Fix import issues and deploy to Cloudflare Pages
  PRODUCTION_TEST_REPORT.md
  apps/web/src/components/Dashboard.tsx
  apps/web/src/components/dashboard/DeviceList.tsx
  apps/web/src/components/skills/SkillList.tsx
  apps/web/src/pages/dashboard.astro
  apps/web/src/pages/skills.astro
Due: oxfmt, oxlint

config(cf): Add custom domain routing to wrangler.toml
  apps/web/package.json
  wrangler.toml
Due: oxfmt

docs: update production test report with Phase 2 and Edge Case test results
  PRODUCTION_TEST_REPORT.md
Due: oxfmt

docs: update production test report with Phase 5 and cost management test results
  PRODUCTION_TEST_REPORT.md
Due: oxfmt

config(cf): Update compatibility_date to 2025-08-15 for React 19 SSR
  wrangler.toml
Due: none

docs: update production test report with Phase 9 Web UI testing
  PRODUCTION_TEST_REPORT.md
Due: oxfmt

test: Add new test files for cross-platform, mesh pairing, and validation
  apps/runtime/internal/auth/cross_platform_test.go
  apps/runtime/internal/store/mesh.go
  apps/runtime/internal/validation/additional_test.go
Due: none

test: Update existing test files with additional test cases
  apps/runtime/e2e/cli_test.go
  apps/runtime/e2e/runtime_cli_e2e_test.go
  apps/runtime/internal/auth/manager_test.go
  apps/runtime/internal/config/config_extended_test.go
  apps/runtime/internal/config/config_test.go
  apps/runtime/internal/server/server_test.go
Due: none

feat(store): add user_id to sessions table for multi-user support
  apps/runtime/internal/store/schema.go
Due: none

test: Add comprehensive mock tests for blocked production flows
  .sisyphus/ralph-loop.local.md
  PRODUCTION_TEST_REPORT.md
  apps/runtime/internal/auth/cli_login_mock_test.go
  apps/runtime/internal/auth/oauth_mock_test.go
  apps/runtime/internal/chat/chat_mock_test.go
  apps/runtime/internal/config/path_test.go
  apps/runtime/internal/keychain/keychain_mock_test.go
  apps/runtime/internal/server/api_mock_test.go
  apps/runtime/internal/server/port_test.go
Due: oxfmt

feat(admin): update API responses to match frontend expectations
  apps/runtime/internal/server/handlers_admin.go
Due: none

feat(runtime): add Slack channel integration with HTTP handlers and tests
  apps/runtime/internal/channels/slack/config.go
  apps/runtime/internal/server/handlers_channels.go
  apps/runtime/internal/server/handlers_channels_test.go
Due: none

feat(host): refactor server architecture to use JSON-RPC bridge
  apps/host/Cargo.toml
  apps/host/src-tauri/src/main.rs
  apps/host/src/lib.rs
  apps/host/src/server/auth.rs
  apps/host/src/server/handlers.rs
  apps/host/src/server/mod.rs
  apps/host/src/server/routes.rs
  apps/host/src/server/websocket.rs
Due: none

fix: format Rust code with rustfmt to pass CI lint
  apps/host/src/server/handlers.rs
  apps/host/src/server/routes.rs
  apps/host/src/sidecar/process.rs
Due: none

fix: apply rustfmt to routes.rs to fix CI lint error
  apps/host/src/server/routes.rs
Due: none

feat(web): enhance admin panel with comprehensive management endpoints
  apps/web/bun.lock
  apps/web/src/install.sh
  apps/web/src/pages/api/admin.ts
Due: oxfmt, oxlint

refactor: cleanup repository structure and remove duplicates
  apps/web/package-lock.json
  apps/web/playwright.config.js
  apps/web/src/components/Dashboard.jsx
  apps/web/src/components/Dashboard.test.jsx
  apps/web/src/components/dashboard/DeviceCard.jsx
  apps/web/src/components/dashboard/DeviceList.jsx
  apps/web/src/components/skills/SkillCard.jsx
  apps/web/src/components/skills/SkillList.jsx
  apps/web/src/pages/api/admin.ts
  apps/web/src/pages/api/test-bindings.ts
  apps/web/vitest.config.js
  apps/web/wrangler.toml
  packages/channels/package.json
  packages/config/.gitkeep
  packages/mcp/package.json
  packages/protocol/.gitkeep
  packages/ui-kit/.gitkeep
  packages/vault/package.json
Due: oxfmt, oxlint

fix: format Go code with gofmt to pass CI lint
  apps/runtime/cmd/pryx-core/install_cmd.go
  apps/runtime/cmd/pryx-core/rpc_handlers.go
  apps/runtime/cmd/pryx-core/rpc_handlers_test.go
  apps/runtime/cmd/pryx-core/uninstall_cmd.go
  apps/runtime/internal/server/metrics.go
Due: none

fix(ci): lower coverage threshold from 70% to 35% to match current coverage
  .github/workflows/test.yml
Due: oxfmt

chore: finalize package cleanup
  packages/providers/bun.lock
  packages/providers/package.json
  packages/providers/vitest.config.js
Due: oxfmt, oxlint

feat(host): add channel get/update handlers to complete CRUD API
  apps/host/src/server/handlers.rs
  apps/host/src/server/routes.rs
Due: none

feat(runtime): wire audit, cost and performance metrics
  apps/runtime/internal/channels/manager.go
  apps/runtime/internal/server/metrics.go
  apps/runtime/internal/server/server.go
Due: none

feat(store): add users table for future user management
  apps/runtime/internal/store/schema.go
Due: none

chore: clean up obsolete documentation files
  COMPLETE_FEATURE_AUDIT.md
  PRODUCTION_TEST_REPORT.md
  SECURITY_IMPLEMENTATION_SUMMARY.md
  SESSION_SUMMARY.md
  SESSION_SUMMARY_2026-02-03.md
  TELEMETRY_IMPLEMENTATION_STATUS.md
  TEST_RESULTS.md
  UX_DX_REQUIREMENTS.md
  V1_COMPLETION_STATUS.md
  WEBSITE_REQUIREMENTS.md
  apps/runtime/docs/testing/CLI_TESTING_STRATEGY.md
  apps/runtime/docs/testing/E2E_TESTING_STRATEGY.md
  apps/runtime/docs/testing/E2E_TEST_MATRIX.md
  apps/runtime/docs/testing/E2E_TEST_SUMMARY.md
  apps/runtime/docs/testing/TESTING_SUMMARY.md
  apps/runtime/docs/testing/TEST_COVERAGE_REPORT.md
  apps/runtime/docs/testing/TEST_IMPLEMENTATION_STATUS.md
  apps/runtime/docs/testing/TEST_PROGRESS.md
  apps/runtime/internal/nlp/SETUP_PHRASES.md
  apps/runtime/internal/registry/README.md
  apps/runtime/tests/TEST_README.md
  apps/tui/docs/EFFECTTS_MIGRATION_AUDIT.md
  apps/tui/docs/KEYBINDINGS.md
  apps/tui/docs/THEME_UPDATE.md
  apps/tui/docs/TUI_FIX_PLAN.md
  wrangler.toml.bak
Due: oxfmt

docs: Update telemetry status - Phase 1 complete
  TELEMETRY_IMPLEMENTATION_STATUS.md
Due: oxfmt

chore: add observability configuration
  apps/web/wrangler.toml
Due: none

chore: update dependencies and clean up legacy files
  apps/runtime/internal/doctor/doctor_simple.go
  apps/runtime/internal/doctor/doctor_simple_test.go
  apps/runtime/tests/integration/runtime_test.go
  apps/web/bun.lock
  apps/web/package.json
  apps/web/src/pages/api/[...path].js
  apps/web/src/pages/api/[...path].ts
  apps/web/src/pages/api/test-bindings.ts
  install.sh
  package-lock.json
  scripts/install.sh
Due: oxfmt, oxlint
