Repository pryx-co/pryx: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxfmt, oxlint

.pre-commit-config.yaml:

# Pre-commit hooks for Pryx
# Framework: pre-commit v4.5.1
# Config: https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for merge conflict markers
      - id: check-merge-conflict
      # Check for large files (>500KB)
      - id: check-added-large-files
        args: ['--maxkb=500']
      # Check JSON syntax
      - id: check-json
      # Check TOML syntax
      - id: check-toml
      # Check YAML syntax
      - id: check-yaml
      # Detect trailing whitespace
      - id: trailing-whitespace
      # Detect mixed line endings (CRLF vs LF)
      - id: mixed-line-ending
      # Fix end of file (ensure newline at EOF)
      - id: end-of-file-fixer
      # Check for symlinks that don't point anywhere
      - id: check-symlinks

  # Rust-specific hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Rust format check
      - id: fmt
        args: ['--', '--check']
      # Rust clippy linting
      - id: cargo-check
        args: ['--lib']
      # Rust clippy with warnings as errors
      - id: clippy
        args: ['--lib', '--', '-D', 'warnings']

  # Go-specific hooks
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      # Go format check
      - id: golangci-lint
        args:
          - --disable-all
          - --enable=gofmt,unused,ineffassign,staticcheck,structcheck,errcheck

  # JavaScript/TypeScript hooks (Oxlint + Oxfmt)
  - repo: local
    hooks:
      - id: oxfmt
        name: Format with Oxfmt
        entry: bunx oxfmt
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, yaml]
        exclude: |
          (?x)^(
            apps/.*/node_modules/|
            apps/.*/dist/|
            apps/.*/\.next/|
            apps/.*/\.turbo/|
            apps/.*/\.astro/|
            node_modules/|
            dist/|
            .next/|
            .git/|
            package-lock\.json|
            Cargo\.lock|
            go\.sum|
            vendor/
          )
      - id: oxlint
        name: Lint with Oxlint
        entry: bunx oxlint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        exclude: |
          (?x)^(
            apps/.*/node_modules/|
            apps/.*/dist/|
            node_modules/|
            dist/|
            \.test\.(js|ts|tsx)$|
            \.spec\.(js|ts|tsx)$
          )

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from {config_path}

  autofix_prs: true
  autoupdate_branch: develop
  autoupdate_commit_msg: 'chore: update pre-commit hooks'
  autoupdate_schedule: monthly
  # Skip hooks that require specific tooling or directory contexts
  # These are handled by dedicated CI jobs (test-host, test-runtime, test-tui, lint)
  skip:
    - poetry-update
    - poetry-lock-update
    - fmt
    - cargo-check
    - clippy
    - golangci-lint
    - oxfmt
    - oxlint

Revert ".github/workflows: Migrate workflows to Blacksmith runners"
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: oxfmt

feat(mcp): implement screen recording MCP server
  .sisyphus/ralph-loop.local.md
  apps/runtime/internal/mcp/bundled.go
  apps/runtime/internal/mcp/bundled_screen.go
  apps/runtime/internal/mcp/bundled_screen_test.go
Due: oxfmt

test(e2e): add MCP Servers E2E test
  .sisyphus/ralph-loop.local.md
  apps/runtime/e2e/mcp_servers_test.go
Due: oxfmt

feat(nlp): extend parser with AI-assisted setup capabilities
  .sisyphus/ralph-loop.local.md
  apps/runtime/internal/nlp/SETUP_PHRASES.md
  apps/runtime/internal/nlp/parser.go
  apps/runtime/internal/nlp/parser_setup_test.go
Due: oxfmt

feat(tui): add terminal mouse tracking support
  apps/tui/index.tsx
  apps/tui/src/components/App.tsx
Due: oxfmt, oxlint

feat(validation): add ValidateRequired helper for required field checking
  apps/runtime/internal/validation/validator.go
  apps/runtime/internal/validation/validator_test.go
Due: none

feat(mcp): implement MCP server security validation (pryx-v23v)
  apps/runtime/internal/mcp/security/ratings.go
  apps/runtime/internal/mcp/security/ratings_test.go
  apps/runtime/internal/mcp/security/sandbox.go
  apps/runtime/internal/mcp/security/sandbox_test.go
  apps/runtime/internal/mcp/security/security.go
  apps/runtime/internal/mcp/security/validator.go
  apps/runtime/internal/mcp/security/validator_test.go
  apps/runtime/internal/mcp/security/warnings.go
Due: none

feat(tui): implement MCP Server Management Interface (pryx-c4pc)
  apps/tui/src/components/McpAddServer.tsx
  apps/tui/src/components/McpCurated.tsx
  apps/tui/src/components/McpServers.tsx
  apps/tui/src/services/mcp.ts
Due: oxfmt, oxlint

fix(mcp): update client tests to match auto-initialization behavior
  apps/runtime/internal/mcp/client_test.go
Due: none

feat(tui): add channel management interface (pryx-bg6h)
  apps/tui/src/components/App.tsx
  apps/tui/src/components/ChannelAddWizard.tsx
  apps/tui/src/components/ChannelDetail.tsx
  apps/tui/src/components/ChannelManager.tsx
  apps/tui/src/services/channels.ts
  apps/tui/src/types/channels.ts
Due: oxfmt, oxlint

feat: Integrate OAuth CLI command into provider management
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/cmd/pryx-core/oauth_cmd.go
  apps/runtime/cmd/pryx-core/provider_cmd.go
Due: none

Complete models.dev integration across all components
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/agent/agent.go
  apps/runtime/internal/models/catalog.go
  apps/runtime/internal/server/handlers.go
  apps/tui/src/components/SetupRequired.tsx
  apps/tui/src/services/provider-service.ts
Due: oxfmt, oxlint

feat(tui): add Slack channel management to TUI
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/config/config.go
  apps/tui/src/components/Channels.tsx
Due: oxfmt, oxlint

feat: Complete Phase 1 & 2 for v1.0.0 release - README and Build Pipelines
  .github/workflows/release.yml
  .sisyphus/ralph-loop.local.md
  README.md
  VERSION
  apps/host/tauri.conf.json
  apps/runtime/cmd/pryx-core/main.go
  apps/tui/package.json
  package.json
Due: oxfmt

fix(auth): provider factory now checks OAuth tokens before API keys
  OAUTH_ANALYSIS.md
  apps/runtime/internal/llm/factory/factory.go
Due: oxfmt

feat(interop): implement Agent Registry Service (pryx-interop-001)
  apps/runtime/internal/cost/service_test.go
  apps/runtime/internal/cost/tracker.go
  apps/runtime/internal/performance/memory.go
  apps/runtime/internal/performance/memory_test.go
  apps/runtime/internal/registry/README.md
  apps/runtime/internal/registry/agent_registry_test.go
  apps/runtime/internal/registry/handler.go
  apps/runtime/internal/registry/registry.go
  apps/runtime/internal/registry/test_helper.go
  apps/runtime/internal/store/store.go
  docs/prd/agent-interoperability.md
Due: oxfmt

refactor: cleanup codebase, fix types, and improve docs
  .beads/issues.jsonl
  .gitignore
  docs/CONTRIBUTING.md
  docs/architecture/SYSTEM_ARCHITECTURE.md
  docs/prd/README.md
  docs/prd/archive/COMPLETED-UPDATES.md
  docs/prd/archive/PRD-UPDATES.md
  docs/prd/archive/Pryx PRD (Clawdbot + OpenCode).md
  docs/prd/archive/Unified PRD (Pryx).md
  docs/prd/archive/prd-PRD-UPDATES.md
  package.json
  packages/channels/src/index.js
  packages/channels/src/registry.js
  packages/channels/src/storage.js
  packages/channels/src/types.js
  packages/channels/src/validation.js
  packages/channels/tests/unit/registry.test.ts
  packages/mcp/src/index.js
  packages/mcp/src/registry.js
  packages/mcp/src/storage.js
  packages/mcp/src/types.js
  packages/mcp/src/validation.js
  packages/providers/src/index.js
  packages/providers/src/presets.js
  packages/providers/src/registry.js
  packages/providers/src/storage.js
  packages/providers/src/types.js
  packages/providers/src/validation.js
  packages/providers/tests/unit/registry.test.ts
  packages/vault/tests/unit/storage.test.ts
Due: oxfmt, oxlint

fix(e2e): Clean up incomplete tests
  apps/runtime/e2e/cli_test.go
  apps/runtime/e2e/mesh_coordination_test.go
  apps/runtime/e2e/tool_execution_test.go
Due: none

feat(runtime): Add agentbus package and refactor social to plugin architecture
  .sisyphus/ralph-loop.local.md
  apps/runtime/internal/agentbus/agentbus_test.go
  apps/runtime/internal/agentbus/circuitbreaker.go
  apps/runtime/internal/agentbus/connection.go
  apps/runtime/internal/agentbus/detection.go
  apps/runtime/internal/agentbus/logger.go
  apps/runtime/internal/agentbus/package.go
  apps/runtime/internal/agentbus/registry.go
  apps/runtime/internal/agentbus/router.go
  apps/runtime/internal/agentbus/service.go
  apps/runtime/internal/universal/network.go
  apps/runtime/internal/universal/network_test.go
  apps/runtime/internal/universal/social.go
  apps/runtime/internal/universal/social/adapter.go
  apps/runtime/internal/universal/social/hub.go
  apps/runtime/internal/universal/social/manifest.go
  apps/runtime/internal/universal/social/moltbook.go
  apps/runtime/internal/universal/social/registry.go
  apps/runtime/internal/universal/social/social.go
  apps/runtime/internal/universal/social/social_test.go
Due: oxfmt

fix(tests): Fix timezone issues in cost service tests
  apps/runtime/internal/cost/service.go
  apps/runtime/internal/cost/service_test.go
Due: none

feat: Implement network agent connectivity system
  apps/runtime/internal/universal/adapter.go
  apps/runtime/internal/universal/detector.go
  apps/runtime/internal/universal/http.go
  apps/runtime/internal/universal/network.go
  apps/runtime/internal/universal/network_test.go
  apps/runtime/internal/universal/registry.go
  apps/runtime/internal/universal/router.go
  apps/runtime/internal/universal/social.go
  apps/runtime/internal/universal/translator.go
  apps/runtime/internal/universal/types.go
  apps/runtime/internal/universal/universal_test.go
Due: none

feat(cli): Add channel and session CLI commands for full TUI parity
  .sisyphus/ralph-loop.local.md
  CLI_TUI_PARITY_FIX_REPORT.md
  OAUTH_ANALYSIS.md
  apps/runtime/cmd/pryx-core/channel_cmd.go
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/cmd/pryx-core/session_cmd.go
  apps/runtime/e2e/cli_test.go
  apps/runtime/internal/agent/agent_test.go
  apps/runtime/internal/config/config.go
  apps/runtime/internal/llm/factory/factory.go
  docs/prd/agent-interoperability.md
Due: oxfmt

fix: Correct format string in channel_cmd.go
  apps/runtime/cmd/pryx-core/channel_cmd.go
Due: none

feat: make MCP tools dynamic - query from MCP manager instead of hardcoded
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/agent/agent.go
  apps/runtime/internal/server/server.go
Due: none

refactor: remove redundant social package and fix detector
  .github/workflows/release.yml
  .sisyphus/ralph-loop.local.md
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/agent/agent.go
  apps/runtime/internal/server/server.go
  apps/runtime/internal/skills/bridge.go
  apps/runtime/internal/skills/manager.go
  apps/runtime/internal/skills/remote.go
  apps/runtime/internal/skills/types.go
  apps/runtime/internal/universal/detector.go
  apps/runtime/internal/universal/network.go
  apps/runtime/internal/universal/social/adapter.go
  apps/runtime/internal/universal/social/hub.go
  apps/runtime/internal/universal/social/manifest.go
  apps/runtime/internal/universal/social/moltbook.go
  apps/runtime/internal/universal/social/registry.go
  apps/runtime/internal/universal/social/social.go
  apps/runtime/internal/universal/social/social_test.go
Due: oxfmt

feat: implement session fork with state copying
  apps/runtime/cmd/pryx-core/main.go
  apps/runtime/internal/agent/agent_test.go
  apps/runtime/internal/agent/spawn/spawn.go
  apps/runtime/internal/prompt/builder.go
  apps/runtime/internal/store/session_copy.go
Due: none

ci: trigger new CI run
  README.md
Due: oxfmt

fix(reliability): remove panic from Discord gateway marshal functions
  apps/runtime/internal/channels/discord/gateway.go
Due: none

feat(security): add WebSocket security with rate limiting and origin validation
  apps/runtime/internal/server/ws.go
Due: none

feat(reliability): add panic recovery to agent event handlers
  apps/runtime/internal/agent/agent.go
Due: none

test(security): add comprehensive tests for security fixes
  apps/runtime/internal/channels/discord/gateway_test.go
  apps/runtime/internal/server/middleware_test.go
  apps/runtime/internal/server/server_test.go
  apps/runtime/internal/server/ws_test.go
Due: none

fix(oauth): return empty string on token refresh failure
  apps/runtime/internal/llm/factory/factory.go
Due: none

fix(security): restrict channel config file permissions
  apps/runtime/cmd/pryx-core/channel_cmd.go
Due: none

ci: fix Go version consistency across workflows - update test.yml from 1.22 to 1.24 to match ci.yml and release.yml
  .github/workflows/test.yml
Due: oxfmt

ci: run workflows on all branches - CI/tests run on all branches, releases only on main/tags
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: oxfmt
